    <!-- Start header -->
    <header class="header">
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="brand-wrapper">
            <a class="brand" href="/"><img src="/images/logo.png"></a>
          </div>

          <div style="padding-top: 10px; text-align: right">
            <img src="/images/twitter.png"> <a href="http://twitter.com/kitchening">Follow us on Twitter</a> &nbsp;&nbsp;
            <img src="/images/facebook.png"> <a href="http://facebook.com/kitchening">Like us on Facebook</a>
          </div>

          <ul class="nav" style="padding-top: 10px;">
            <li><a href="/about">About</a></li>
            <li><a href="/where-to-buy">Where to buy</a></li>
            <li><a href="/wholesale-inquiries">Wholesale</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/macarons">Macarons</a></li>
              <li><a href="/ginger-chocolate-cookies">Ginger Chocolate Cookies</a></li>
              <li><a href="/oatmeal-raisin-cookies">Oatmeal Raisin Cookies</a></li>
            </ul>
            </li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div> 
      </div>
      
    </div>
    </header>
    <!-- End header -->

