<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navigation.html %}
    {% include default-page-heading.html %}
    <!-- Start store content -->
    <section class="portfolio">
    <div class="container">
      <div class="row">
        <div class="span8">
          <div class="img-polaroid">
            {{page.map_url}}
          </div>
        </div>
        <div class="span4">
          <div class="project-widget well info-box">
            <h4>{{page.store_name}}</h4>
            <hr>
            <h5>IN THE STORE</h5>
            <p>{{page.store_description}}</p>
            <hr>
            <h5>PRODUCTS CARRIED</h4>
            <p>
            {% for item in page.products %}
            <span class="label label-info">{{item.name}}</span>
            {% endfor %}
            </p>
            {% if page.store_url %}
            <hr>            
            <h5>WEB SITE</h5>
            <p>
            <a href="{{page.store_url}}">{{page.store_url}}</a>
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- End store content -->
    {% include footer.html %}
  </body>
</html>



