<!-- Start services -->
<section class="services">
<div class="container">
  <hr class="divider-home">
  <div class="row">
    <div class="span12">
      <h3 style="padding-bottom: 20px; text-align: center;">Upcoming Events &amp; Markets</h3>
    </div>
  </div>      
  <div class="row">
    <div class="span6">
      <div class="well well-small">
        <span class="service-icon"><i class="icon-asterisk"></i></span>
        <h5>Granville Island <br>Farmers Market</h5>
        <p>We'll be back this year from June through September at the Granville Island Farmers Market. Come say hi!</p>
        <strong>June through October (Every Thursday 9am-3pm)</strong><br>
        <strong>Granville Island</strong><br><br>
        <a class="btn btn-mini" href="http://granvilleisland.com/granville-island-farmers-market">More</a>
      </div>
    </div>
    <div class="span6">
      <div class="well well-small">
        <span class="service-icon"><i class="icon-asterisk"></i></span>
        <h5>Shangri-La Farmers Market</h5>
        <p>Join us with several other vendors as we set up shop in the hotel plaza. The market runs all summer, every second Sunday beginning on May 19th.</p>
        <strong>June 30 / Aug 11 / Sept 8</strong><br>
        <strong>Shangri-La Hotel, Downtown Vancouver</strong><br><br>
        <a class="btn btn-mini" href="https://www.facebook.com/MarketbyJeanGeorgesVancouver">More</a>
      </div>
    </div>

  </div>
</div>
</section>
<!-- End services -->

