<!-- Start services -->
<section class="services">
<div class="container">
  <hr class="divider-home">
  <div class="row">
    <div class="span12">
      <h3 style="padding-bottom: 20px; text-align: center;">Upcoming Events &amp; Markets</h3>
    </div>
  </div>      
  <div class="row">

    <div class="span4">
      <div class="well well-small">
        <span class="service-icon"><i class="icon-asterisk"></i></span>
        <h5>Christmas Popup Shops</h5>
        <p>We'll be running Christmas popup shops at The Bay at Pacific Centre as well as Metrotown!</p>
        <strong>December 13-24</strong><br>
        <strong>Pacific Center / Metrotown</strong><br><br>
      </div>
    </div>

    <div class="span4">
      <div class="well well-small">
        <span class="service-icon"><i class="icon-asterisk"></i></span>
        <h5>Gluten Free Expo 2014</h5>
        <p>This will be our first year at the Gluten Free Expo. Find us in booth 121 with gluten free cookies and macarons!</p>
        <strong>January 25-26, 2014, 10:00am - 4:00pm both days</strong><br>
        <strong>PNE, Forum Building, 2901 E. Hastings St.</strong><br><br>
        <a class="btn btn-mini" href="http://www.glutenfreeexpo.ca/bc/vancouver/">More</a>
      </div>
    </div>

    <div class="span4">
      <div class="well well-small">
        <span class="service-icon"><i class="icon-asterisk"></i></span>
        <h5>Eat! Vancouver 2014</h5>
        <p>We'll be back at Eat! Vancouver for the third year running. This is easily our favourite show of the year, and we hope to see you there.</p>
        <strong>May 30 - June 1, 2014</strong><br>
        <strong>BC Place Stadium</strong><br><br>
        <a class="btn btn-mini" href="http://www.eat-vancouver.com">More</a>
      </div>
    </div>

  </div>
</div>
</section>
<!-- End services -->

