<!-- Start services -->
<section class="services">
<div class="container">
  <hr class="divider-home">
  <div class="row">
    <div class="span12">
      <h3 style="padding-bottom: 20px; text-align: center;">Upcoming Events &amp; Markets</h3>
    </div>
  </div>      
  <div class="row">
    <div class="span4">
      <div class="well well-small">
        <span class="service-icon"><i class="icon-asterisk"></i></span>
        <h5>West Coast Christmas Show</h5>
        <p>We'll be at the West Coast Christmas Show for the first time this year, and hope to see you there. Come check out everything this show has to offer.</p>
        <strong>Nov 22-24</strong><br>
        <strong>Tradex, Abbotsford</strong><br><br>
        <a class="btn btn-mini" href="http://westcoastchristmasshow.com">More</a>
      </div>
    </div>
    <div class="span4">
      <div class="well well-small">
        <span class="service-icon"><i class="icon-asterisk"></i></span>
        <h5>Christmas Popup Shops</h5>
        <p>Stay tuned for our Christmas popup shops - <em>probably</em> at The Bay at Pacific Centre as well as Metrotown!</p>
        <strong>December</strong><br>
        <strong>Pacific Center / Metrotown</strong><br><br>
        <!--
        <a class="btn btn-mini" href="http://www.fraservalleyfoodshow.com">More</a>
        -->
      </div>
    </div>
    <div class="span4">
      <div class="well well-small">
        <span class="service-icon"><i class="icon-asterisk"></i></span>
        <h5>Eat! Vancouver 2014</h5>
        <p>We'll be back at Eat! Vancouver for the third year running. This is easily our favourite show of the year, and we hope to see you there.</p>
        <strong>May 30 - June 1, 2014</strong><br>
        <strong>BC Place Stadium</strong><br><br>
        <a class="btn btn-mini" href="http://www.eat-vancouver.com">More</a>
      </div>
    </div>

  </div>
</div>
</section>
<!-- End services -->

