    <!-- Start clients -->
    <section class="clients">
    <div class="container">
      <hr class="divider-home">
      <div class="row">
        <div class="span12">
          <h3 style="padding-bottom: 20px; text-align: center;">In The Press</h3>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="row">
            <div class="span3">
              <div class="well">
                <img src="/images/press/vancouver-sun.png" />
              </div>
            </div>
            <div class="span3">
              <div class="well">
                <img src="images/press/globe-mail.png" />
              </div>
            </div>
            <div class="span3">
              <div class="well">
                <a href="http://www.straight.com/food/363106/vancouver-pastry-chefs-give-back-macaron-day-2013"><img src="images/press/georgia-straight.png" /></a>
              </div>
            </div>
            <div class="span3">
              <div class="well">
                <a href="http://globalnews.ca/video/374452/happy-macaron-day"><img src="/images/press/global-tv.png" /></a>
              </div>
            </div>
            <div class="span3">
              <div class="well">
                <a href="http://kitchening.ca/files/VANVIEW_Sept11-carly.pdf"><img src="/images/press/vancouver-view.png" /></a>
              </div>
            </div>
            <div class="span3">
              <div class="well">
                <a href="http://vitamindaily.com/content/accidental-hostess"><img src="/images/press/vitamin-daily.png" /></a>
              </div>
            </div>            
            <div class="span3">
              <div class="well">
                <a href="http://www.vancitybuzz.com/2013/03/macaron-day-vancouver-2013-kitchening-co/"><img src="/images/press/van-city-buzz.png" /></a>
              </div>
            </div>
            <div class="span3">
              <div class="well">
                <a href="http://www.bcliving.ca/food/best-macarons-vancouver"><img src="/images/press/bc-living.png" /></a>
              </div>
            </div>
            <div class="span3">
              <div class="well">
                <a href="http://www.eatmagazine.ca/profile-kitchening-with-carly/"><img src="/images/press/eat-magazine.png" /></a>
              </div>
            </div>
            <div class="span3">
              <div class="well">
                <a href="http://kentonmagazine.com/kenton_editorials/carly-wintschel/"><img src="/images/press/kenton.png" /></a>
              </div>
            </div>
            <div class="span3">
              <div class="well">
                <a href="http://www.vancouverobserver.com/city/celebrate-macaron-day-support-local-non-profits"><img src="/images/press/vancouver-observer.png" /></a>
              </div>
            </div>
            <div class="span3">
              <div class="well">
                <a href="http://youtu.be/hXsR0rlE1s0?t=3m26s"><img src="/images/press/go-vancouver.png" /></a>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- End clients -->

