    <!-- Start slider -->
    <section class="slider">
    <div class="container">
      <div class="well">
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="active item">
              <a href="/macarons"><img src="images/slider-images/salted-caramel-web.jpg" /></a>
              <div class="carousel-caption animation">
                <h3 data-animate="fadeInDownBig" class="caption-black">Salted Caramel Macaron</h3>
                <p data-animate="fadeInRightBig" class="caption-black-small">Sweet, buttery, salty perfection.</p>
              </div>
            </div>
            <div class="item">
              <a href="/macarons"><img src="images/slider-images/pistachio-web.jpg" /></a>
              <div class="carousel-caption animation">
                <h3 data-animate="fadeInLeftBig" class="caption-white">Pistachio Macaron</h3>
                <p data-animate="fadeInRightBig" class="caption-white-small">The timeless classic.</p>
              </div>
            </div>
            <div class="item">
              <a href="/macarons"><img src="images/slider-images/toasted-coconut-web.jpg" /></a>
              <div class="carousel-caption animation">
                <h3 data-animate="rotateIn" class="caption-black">Toasted Coconut Macaron</h3>
                <p data-animate="rollIn" class="caption-black-small">Our most popular. We're as surprised as you are.</p>
              </div>
            </div>
            <div class="item">
              <a href="/macarons"><img src="images/slider-images/mandarin-stawberry-web.jpg" /></a>
              <div class="carousel-caption animation">
                <h3 data-animate="rotateIn" class="caption-black">Mandarin Strawberry Macaron</h3>
                <p data-animate="rollIn" class="caption-black-small">Fresh like a summer breeze. Creamsicle nostalgia.</p>
              </div>
            </div>           
            <div class="item">
              <a href="/macarons"><img src="images/slider-images/chocolate-web.jpg" /></a>
              <div class="carousel-caption animation">
                <h3 data-animate="rotateIn" class="caption-black">Chocolate &amp; Dark Chocolate Ganache Macaron</h3>
                <p data-animate="rollIn" class="caption-black-small">Lots of chocolate. Delicious chocolate. Maybe better than a boyfriend.</p>
              </div>
            </div>            
            <div class="item">
              <a href="/macarons"><img src="images/slider-images/plate-web.jpg" /></a>
            </div>
            
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
        </div>
      </div>
    </div>
    </section>
    <!-- End slider -->

